/* index.html */
.top {
  position: relative;  //横幅がウィンドウズサイズの縦幅よりもはみ出てしまう場合に、左にずらすために指定。
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  filter: brightness(40%);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
}
lij1 a{
  float: right;
  padding-top: 13px;
  color: #FFFFFF;
}
lij2 a{
  float: right;
  padding-top: 13px;
  padding-right: 10px;
  color: #FFFFFF;
}
li a:hover:not(.active) {
	background-color: #ff9a9a;
}
dl1 {
	float: right;
  padding-top: 16px
}
dl2 {
	float: right;
  padding-top: 13px
}
dl3 {
	float: right;
  padding-top: 13px
}
footer{
  position: fixed;
  bottom: -30px;
  width: 98%;
  height: 100px;
  text-align: right;
}
.ex{/*classがfaのアイコンに対して*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 225px;
  }

.active {
	background-color: #da3c41;
  height: 100%;
}

/* other */
.profile{
  position: relative;
}
h1 {
  position: relative;
  font-size: 25px;
  padding-bottom: .2em;
  border-bottom: 4px solid #000000;
}
h1::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #da3c41;
}
h2 {
  position: relative;
  font-size: 18px;
}
a{
  color: #8e1c1c;
}
